@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

$primary-button-color: #B88E2F;
$primary-color: #FFF3E3;
$secondary-color: #FCF8F3;
$principal-font-color: #000000;
$secondary-font-color: #9F9F9F;
$font-stack: 'Poppins', sans-serif;
$desktop: 1440px;